<div class="row">
    <div class="col-6 offset-3 mt-3">
        <form #patientForm="ngForm" (ngSubmit)="onSave(patientForm)">
            <div class="form-group">
                <label class="mb-0" for="">Időpont</label>
                <input class="form-control" type="text" name="appointment" [(ngModel)]="patient.appointment">
            </div>
            <div class="form-group">
                <label class="mb-0" for="">Név</label>
                <input class="form-control" type="text" name="name" [(ngModel)]="patient.name">
            </div>
            <div class="form-group">
                <label class="mb-0" for="">TAJ vagy egyéb személy azonosító</label>
                <input class="form-control" type="text" name="personalId" [(ngModel)]="patient.personalId">
            </div>
            <div class="form-group">
                <label class="mb-0" for="">Születési dátum</label>
                <input class="form-control" type="text" name="dob" [(ngModel)]="patient.dob">
            </div>
            <div class="form-group">
                <label class="mb-0" for="">Telefon</label>
                <input class="form-control" type="text" name="phone" [(ngModel)]="patient.phone">
            </div>
            <div class="form-group">
                <label class="mb-0" for="">email</label>
                <input class="form-control" type="text" name="email" [(ngModel)]="patient.email">
            </div>
            <div class="form-group">
                <label class="mb-0" for="vaccineSelect">Vakcina</label>
                <select class="form-control" [ngModel]="patient.vaccine._id" name="vaccineSelect" required>
                    <option *ngFor="let vaccine of vaccineList$ | async" [value]="vaccine._id">
                        {{vaccine.product}}
                    </option>
                </select>
            </div>
            <button [disabled]="patientForm.invalid" type="submit" class="btn btn-primary w-100 mt-3 mb-3">
                <i class="fas fa-save"></i>
                Páciens mentése
            </button>
        </form>
    </div>
</div>