<div class="container pt-3">
    <h1>Páciensek</h1>

    <button routerLink="/patient/create" class="btn btn-block btn-success my-3">
        Új páciens rögzítése
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>Idő</th>
                <th>Név</th>
                <th>TAJ</th>
                <th>Vakcina</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of list$ | async">
                <td>{{ patient.appointment }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.personalId }}</td>
                <td>{{ patient.vaccine.product }}</td>
                <td>
                    <div class="btn-group">
                        <button [routerLink]="['/', 'patient', 'edit', patient._id]" class="btn btn-info">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>