<div class="container pt-3">
    <h1>Oltási események</h1>

    <button routerLink="/vaccination/create" class="btn btn-block btn-primary my-3">
        Új oltási esemény rögzítése
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>Páciens</th>
                <th>Vakcina</th>
                <th>Dátum</th>
                <th>Oltás száma</th>
                <th>Oltás helye</th>
                <th>Oltás módja</th>
                <th>Oltási szövődmény</th>
                <th>EESZT</th>
                <th>Helyszín</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vaccination of list$ | async">
                <td>{{ vaccination.patient.name }}</td>
                <td>{{ vaccination.vaccine.product }}</td>
                <td>{{ vaccination.date }}</td>
                <td>{{ vaccination.dose }}</td>
                <td>{{ vaccination.injectionSite }}</td>
                <td>{{ vaccination.injectionType }}</td>
                <td>{{ vaccination.adverseEvent.description }}</td>
                <td>{{ vaccination.eeszt }}</td>
                <td>{{ vaccination.place.hospital }}</td>
                <td>
                    <div class="btn-group">
                        <button [routerLink]="['/', 'vaccination', 'edit', vaccination._id]" class="btn btn-primary">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>