<div class="row">
    <div class="col-6 offset-3 mt-3">
        <form #aeForm="ngForm" (ngSubmit)="onSave()">
            <div class="form-group">
                <label for="">Gyártó</label>
                <input class="form-control" type="text" name="manufacture" [(ngModel)]="vaccine.manufacture">
                <label for="">Vakcina</label>
                <input class="form-control" type="text" name="product" [(ngModel)]="vaccine.product">
                <label for="">LOT szám</label>
                <input class="form-control" type="text" name="lot" [(ngModel)]="vaccine.lot">
                <label for="">Dózisok közötti idő</label>
                <input class="form-control" type="number" name="doseInterval" [(ngModel)]="vaccine.doseInterval">

            </div>
            <button [disabled]="aeForm.invalid" type="submit" class="btn btn-primary w-100 mt-3 mb-3">
                <i class="fas fa-save"></i>
                Vakcina mentése
            </button>
        </form>
    </div>
</div>-