<div class="container pt-3">

    <h1>Helyszínek</h1>

    <button routerLink="/place/create" class="btn btn-success w-100">
        Új helyszín rögzítése
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>Kórház</th>
                <th>Cím</th>
                <th>Épület</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let place of list$ | async">
                <td>{{ place.hospital }}</td>
                <td>{{ place.address }}</td>
                <td>{{ place.building }}</td>
                <td>
                    <div class="btn-group">
                        <button [routerLink]="['/', 'place', 'edit', place._id]" class="btn btn-info">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>