<div class="container-fluid">
    <div class="row">
        <app-sidebar></app-sidebar>
        <main class="col-md-9 col-lg-10 ml-sm-auto px-md-4 py-4">
            <h1>Patients</h1>
            <pre>{{patients | async | json}}</pre>

            <app-footer></app-footer>
            <div class="col-12 col-xl-4">
                <!-- Another widget will go here -->
                <div class="card">
                    <h5 class="card-header">Traffic last 6 months</h5>
                    <div class="card-body">
                        <div id="traffic-chart"></div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>