<div class="row">
    <div class="col-6 offset-3 mt-3">
        <form #placeForm="ngForm" (ngSubmit)="onSave()">
            <div class="form-group">
                <label for="">Kórház</label>
                <input class="form-control" type="text" name="hospital" [(ngModel)]="place.hospital">
                <label for="">Dátum</label>
                <input class="form-control" type="text" name="address" [(ngModel)]="place.address">
                <label for="">Leírás</label>
                <input class="form-control" type="text" name="building" [(ngModel)]="place.building">
            </div>
            <button [disabled]="placeForm.invalid" type="submit" class="btn btn-primary w-100 mt-3 mb-3">
                <i class="fas fa-save"></i>
                Helyszín mentése
            </button>
        </form>
    </div>
</div>