<div class="container pt-3">
    <h1>Oltási szövődmények</h1>

    <button routerLink="/adverse-event/create" class="btn btn-block btn-primary my-3">
        Új oltási szövődmény rögzítése
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>Páciens</th>
                <th>Időpont</th>
                <th>Leírás</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ae of list$ | async">
                <td>{{ ae.patient.name }}</td>
                <td>{{ ae.date }}</td>
                <td>{{ ae.description }}</td>
                <td>
                    <div class="btn-group">
                        <button [routerLink]="['/', 'adverse-event', 'edit', ae._id]" class="btn btn-primary">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button (click)="onDelete(ae)" type="button" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </button>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>